@using NodaTime
@using UnitsNet
@using Microsoft.AspNetCore.Html
@using UnitsNet.Units
@using Ukew.NationalGrid
@using Ukew.Utils

@model ukew_www.Controllers.HomeController.IndexModel.GasFlowModel

@{
    ViewData["Title"] = "Gas In-Flow";
    var gasFlowData = @Model;
    var zoneRows = gasFlowData.Rows.Where(x => x.SupplyType == InstantaneousFlow.SupplyType.ZoneSupply);
    var terminalRows = gasFlowData.Rows.Where(x => x.SupplyType == InstantaneousFlow.SupplyType.TerminalSupply);
}

<div class="subtitle">
Gas In-Flow - real-time data
</div>

<div class="data">
    <table class="power">
        <tr class="header"><td>Terminal</td><td>Current gas in-flow</td><td>CO<sub>2</sub> emissions</td></td>
        @foreach (var t in terminalRows.Select((x, i) => Tuple.Create(x, i)))
        {
            var row = t.Item1;
            var evenOdd = t.Item2 & 1;
            <tr class="row@(evenOdd) highlight">
                <td>@row.Name</td>
                <td>
                    <span class="mw">@row.GasFlow.ToString(FlowUnit.CubicMeterPerSecond, null, 1)</span>
                    <span class="percent">(@((row.GasFlow.CubicMetersPerHour * 24 / 1e6).ToString("0.00")) Mm³/day)</span>
                </td>
                <td>-</td>
            </tr>
        }
        <tr class="footer">
            <td>Total</td>
            <td>
                <span class="mw">@gasFlowData.Total.GasFlow.ToString(FlowUnit.CubicMeterPerSecond, null, 1)</span>
                <span class="percent">(@((gasFlowData.Total.GasFlow.CubicMetersPerHour * 24 / 1e6).ToString("0.00")) Mm³/day)</span>
            </td>
            <td>-</td>
        </tr>
        <tr>
            <td colspan="3">
                <div class="update">
                    Updated: @gasFlowData.UpdateTime.ToString("dd MMMM yyyy HH:mm:ss", null) (UK local time)
                </div>
            </td>
        </tr>
        <tr><td colspan="3">&nbsp;</td></tr>
        <tr class="header"><td>Zone</td><td>Current gas in-flow</td><td>CO<sub>2</sub> emissions</td></td>
        @foreach (var t in zoneRows.Select((x, i) => Tuple.Create(x, i)))
        {
            var row = t.Item1;
            var evenOdd = t.Item2 & 1;
            <tr class="row@(evenOdd) highlight">
                <td>@row.Name</td>
                <td>
                    <span class="mw">@row.GasFlow.ToString(FlowUnit.CubicMeterPerSecond, null, 1)</span>
                    <span class="percent">(@((row.GasFlow.CubicMetersPerHour * 24 / 1e6).ToString("0.00")) Mm³/day)</span>
                </td>
                <td>-</td>
            </tr>
        }
        <tr>
            <td colspan="3">
                <div class="update">
                    Updated: @gasFlowData.UpdateTime.ToString("dd MMMM yyyy HH:mm:ss", null) (UK local time)
                </div>
            </td>
        </tr>
    </table>
</div>
